**/__pycache__
**/__pycache__/
**/migrations
**/migrations/
**/migrations/__pycache__
**/migrations/__pycache__/
db.sqlite3
/media
/media/
/static
/staticfiles/
**/src/
**/build/
**/node_modules/
locale/id/LC_MESSAGES/django.mo
locale/ar/LC_MESSAGES/django.mo
**/locale/id/LC_MESSAGES/django.mo
**/locale/ar/LC_MESSAGES/django.mo
.env
loader.py
QUERY_ADMINS.csv
QUERY_CLASS.csv
QUERY_STUDENTS.csv
QUERY_TEACHERS.csv
QUERY_SUBJECTS.csv
QUERY_USERS.csv
QUERY_ASSESSMENTS_ANSWER.csv
QUERY_ASSESSMENTS_TYPES.csv
QUERY_SCHEDULES.csv
QUERY_TEACHER_PRESENCE_SCHEDULES.csv
api_test.py